<section id="sectionTwo" class="sectionTwo">
	
	<h2>About Me </h2>
	<hr>
	<p>I am a 21 year old student, who has always had a passion for anything to do with the world of art.</p>
        
        <p>I am in my second year of a four year Interaction Design course at University of Ulster Belfast. Prior to this course I studied a one year Art Foundation Degree also at University of Ulster. I chose to study interaction Design because I wanted to explore a dfferent section of the art world, and better my skills.</p>
        <p></p>
	
</section>