<section id="sectionEight" class="sectionEight">

         <ul class="social">
            
            <li> <a href="https://uk-mg42.mail.yahoo.com/neo/launch?.rand=7a5ma551npprm"><img src="images/email.svg" ></a> </li>
       
            <li><a href="https://www.flickr.com/photos/41416043@N05/albums"><img src="images/flickr.svg" ></a></li>
    
            <li><a href="https://github.com/LauraMitchell13"><img src="images/github.svg"></a></li>
        
            <li><a href="https://www.tumblr.com/blog/thelauramitchell"><img src="images/twitter.svg"></a></li>
            
        </ul>
        

    </section>