<!DOCTYPE html>
<html>
<head>
    <title>Laura Mitchell - Portfolio</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <!-- <link href="css/style.css" type+"text/css" rel="stylesheet" /> -->
    
    <!-- GOOGLE FONT SCRIPT -->
    
    <link href="https://fonts.googleapis.com/css?family=Mandali" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    
<link href="https://fonts.googleapis.com/css?family=Chathura:700" rel="stylesheet">
    
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>