<section id="sectionThree" class="sectionThree">
	<h2>Portfolio</h2>
    <hr>
    
    <div class="thumbnail-grid flex">
  <a href="project1.html" target="_blank" class="flex-item">
    <figure class="i1">
      <figcaption>The Bird Project</figcaption>
    </figure>
  </a>
  <a href="project2.html" target="_blank" class="flex-item">
    <figure class="i2">
      <figcaption>Elements Project</figcaption>
    </figure>
  </a>
  <a href="project3.html" target="_blank" class="flex-item">
    <figure class="i3">
      <figcaption>Memory Cube</figcaption>
    </figure>
  </a>
</div>
    
</section>